@keyframes transform-self {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes text-move {
    from {
        transform: translateX(-300px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}


.color1 {
    /* animation: text-move 2s; */
}

.color2 {
    /* animation: text-move 2s; */
    /* animation-delay: .5s; */

}
